@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.color-gris{
	color: #6A737D;
}

.color-principal{
	color: #0561A7;
}
.f1{
	font-family: 'Roboto Slab', serif;
}
.f2{
	font-family: 'Roboto', serif;
}
/* MENU DE REDES SOCIALES*/

.redes-inicio{
	background: #f2f2f2;
	height: 50px;
}

.redes-inicio ul{
	display: inline-block;
	list-style: none;
}

.redes-inicio ul li{
	float: left;
	margin: 10px;
	padding: 5px;
}

.redes-inicio ul li a{
	color: #c2c2c2;
	text-decoration: none;
}

.facebook:hover{
	color: #3A5795;
	transition: .8s;
}

.twitter:hover{
	color: #5EA9DD;
	transition: .8s;
}

.youtube:hover{
	color: #CC181E;
	transition: .8s;
}

/* MENU DE NAVEGACION */
header{
	width: 100%;
	height: 70px;
	background-color: transparent;
	-webkit-transition: margin-left .5s;
}

nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	height: 40px;
	margin-left: 10px;
	-webkit-transition: margin-left .5s;
}

header nav ul{
	display: block;
	list-style: none;
}

header nav ul li{
	float: left;
	margin: 4px;
	
}

header nav ul li a{
	color: #AAAAAA;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 7px 10px;
}

header nav ul li a:hover{
	background-color: #0561A7;
	color: #fff;
	transition: .9s;
	text-decoration: none;
}

.activo{
	background-color: #3A5795;
	color: #fff;
	transition: .5s;
}

img#logo{
	float: left;
	display: block;
	width: 400px;
	height: 400px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

.img-carousel{
	height: 600px;
}

/* PARTE DE SERVICIOS*/
.icons-servicios{
	background: #0561A7;
	color: #fff;
	border-radius: 25px;
	width: 55px;
	height: 55px;
	padding: 14px;
	transition: 0.8s;
}

/* PARTE DE NOSOTROS - TALLERES */
.icons-talleres-nosotros{
	background: #fff;
	color: #5FD4F7;
	border-radius: 25px;
	border: 2px solid;
	width: 55px;
	height: 55px;
}

.titulos-servicios{
	font-family: 'Roboto', sans-serif;
	color: #0561A7;
	padding: 7px 10px;
	border-radius: 25px;
	border: 1px solid;
	transition: 0.9s;
}

.titulos-servicios:hover{
	background: #0561A7;
	color: #fff;
	border-radius: 25px;
	transition: 0.9s;
}
.icons-servicios:hover{
	background: #fff;
	color: #0561A7;
	transition: 0.8s;
}

.texto-servicios{
	font-family: 'Roboto Slab', sans-serif;
}

/* IMAGEN PARA EFECTO PARALLAX */
.img-para-inicio{
	background-image: url(../img/imagenes-para-secciones-de-pag-web/Instalaciones.png);
	height: 400px;
}

.img-pres-nos{
	width: 100%;
}

.parallax{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 65;
	width: 100%;
}

.textos-EOC{
	color: #fff;
	margin-bottom: 0;
}

/* TALLERES INICIO*/
.iconos-talleres{
	margin-left: 35%;
	color: #0561A7;
	margin-top: 30px;
	margin-bottom: 15px;
	border-radius: 50px;
	border: 2px solid;
	background: #fff;
	width: 100px;
	height: 100px;
	transition: 0.9s;
}

.iconos-talleres:hover{
	background: #0561A7;
	color: #fff;
	transition: 0.9s;
}

.titulos-talleres{
	font-size: 26px;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	color: #0561A7;
}

.texto-talleres{
	margin-bottom: 70px;
	font-family: 'Roboto Slab', sans-serif;
}

/*----- ADMISIONES -----*/
ul.listas-admisiones{
	list-style: none;
	margin-bottom: 50px;
}
ul.listas-admisiones li{
	font-family: 'Roboto Slab', sans-serif;
	font-weight: lighter;
	font-size: 17px;
}
/* FOOTER */
.redes-footer{
	text-decoration: none;
	color: #F2F2F2;
	margin-top: 30px;
}

.links-algomas{
	color: #fff;
	font-size: 18px;
	transition: .8s;
}

.links-algomas:link{
	text-decoration: none;
	color: #fff;
}
.links-algomas:hover{
	color: #3A5795;
	background: #fff;
	padding: 8px;
	transition: .8s;
}

.linea-footer{
	height: 2px;
	background: #F2F2F2;
	margin-top: 20px;
	margin-bottom: 10px;
	opacity: 0.6;
	width: 100%;
}

/* SECCION DE TARJETAS ANIMADAS - NOSOTROS*/
.contenedor-tarjeta{
	margin: 20px;
}
.contenedor-tarjeta:hover figure{
	-webkit-transform: perspective(600px) rotateY(180deg);
	-ms-transform: perspective(600px) rotateY(180deg);
	-o-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg); 

	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}
.contenedor-tarjeta:hover figure img{
	filter: blur(2px);
}
figure{
	width: 300px;
	height: 350px;
	margin: 0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}
figure .frontal-tarjeta,
figure .trasera-tarjeta{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}
figure .frontal-tarjeta{
	display: block;
}
figure .trasera-tarjeta{
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;

	background: #0561A7;
}
figure .trasera-tarjeta .titulo-tarjeta{
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
figure .trasera-tarjeta hr{
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}
figure .trasera-tarjeta p{
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 15px;
}

/* SEPARADOR CON IMG Y HORARIOS*/
.img-horarios{
	background-image: url(../img/imagenes-para-secciones-de-pag-web/2-Nosotros-img/Alumnos-sonriendo.png);
	height: 500px;
}

/* GALERIA INSTALACIONES */
#container{
	margin: 0 auto;
}
.demo li{
	list-style-type: none;
	display: inline-block; 
}
.demo li img{
	height: 200px;
	border: 5px solid #999;
	margin: 5px;
}

/* GOOGLE MAPS*/
#map{
	margin-top: 50px;
	margin-bottom: 100px;
	height: 500px;
	width: 100%;
}
/* ADMISIONES */
.titulo-requi-ins{
	color: #fff;
	font-size: 21px;
	margin-bottom: 40px;
}
.ico-requi-ins{
	color: #fff;
	margin-left: 30%;
	margin-top: 40px;
	margin-bottom: 30px;
}

/*-------------- UBICACIÓN -----------------*/

/*BOTONES*/
.boton1{
	margin-bottom: 200px;
	margin-top: 200px;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	text-transform: uppercase;
	color: #fff;
	font-family: sans-serif;
	transition: .5s;
	font-size: 30px;
	overflow: hidden;
}
.boton1:hover{
	color: #0561A7;
}
.boton1:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0561A7;
	z-index: -1;
	transition: 0.5s;
	box-sizing: border-box;
}
.boton1:hover:before{
	top: calc(100% - 2px);
}
.boton1:after{
	content: '';
	position: absolute;
	top: calc(-100% + 2px);
	left: 100%;
	width: 100%;
	height: 100%;
	background: #0561A7;
	z-index: -1;
	transition: 0.5s;
	box-sizing: border-box;
}
.boton1:hover:after{
	left: 0;
	transition-delay: 0.5s;
}

.menu-responsivo{
	display: none;
}

.separador-contacto{
	border-right: 2px groove #ccc;
	height: 580px;
}
.img-carousel-ins{
	margin-bottom: 30px;
}
.img-admisiones{
	width: 100%;
}
.columna1-hover{
	padding: 10px;
	transition: 0.8s;
}
.columna1-hover:hover{
	background: #44A1E9;
	border-radius: 25px;
	border: 3px inset #44A1E9; 
	transition: 0.8s;
}
.columna2-hover{
	padding: 10px;
	transition: 0.8s;
}
.columna2-hover:hover{
	background: #44A1E9;
	border-radius: 25px;
	border: 3px outset #44A1E9; 
	transition: 0.8s;
}
.ins-listas{
	color: #0561A7;
	font-family: 'Roboto Slab', serif;
	font-size: 22px
}

/*-----------------MEDIA QUERIES-----------------*/
@media screen and (min-width: 320px){
	.carousel{
		margin-top: 50px;
	}
	
	.img-carousel{
		height: 200px;
	}

	#logo-responsivo{
	position: relative;
	width: 100px;
	height: auto;
	left: 20px;
	}
	.boton1{
		margin-top: 30px;
		margin-bottom: 80px;
		width: 300px;
		height: 100px;
		line-height: 100px;
		font-size: 24px;
	}
	.btn-admon{
		background: #ccc;
		height: 300px;
	}
	.texto-servicio{
		margin-bottom: 50px;
	}
	.img-para-inicio{
		height: 750px;
	}
	.iconos-EOC{
		margin-left: 41%;
		margin-top: 20px;
		color: #fff;
		margin-bottom: 0px;
	}
	.i-PAE{
		margin-left: 36%;
	}
	.textos-EOC{
		font-size: 24px;
		color: #fff;
		margin-bottom: 10px;
	}
	.contenedor-EOC{
		background: #0561A7;
		margin-top: 50px;
	}
	.texto-talleres{
		margin-bottom: 40px;
	}
	.img-carousel-ins{
		margin-left: 20px;
	}
	.links-algomas{
		margin-left: 30%;
	}
	/*-----HASTA AQUI PAGINA INICIO ----*/
	.img-comunidad{
		height: 200px;
		width: 100%;
		margin-top: 80px;
	}
	.cards-comunidad{
		margin-top: 70px;
		margin-bottom: 30px;
		margin-left: 30%;
	}
	/*-----HASTA AQUI PAGINA COMUNIDAD ----*/
	.img-contacto{
		width: 100%;
		margin-top: 70px;
		height: 200px;
	}
	.contac{
		margin-top: 10px;
	}
	.separador-contacto{
		display: none;
	}
	/*-----HASTA AQUI PAGINA CONTACTO ----*/
	
	.ico-requi-ins{
		margin-left: 44%;
	}
	.ins-listas{
		margin-left: 20%;
		margin-top: 5%;
	}

	.titulo-sistemas{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.img-sistemas{
		margin-top: 40px;
	}
	.texto-sistemas{
		margin-bottom: 30px;
	}
	.lista-sistemas{
		margin-left: 10%;
	}
}

@media screen and (min-width: 375px){
	.iconos-EOC{
		margin-left: 43%;
	}
	.i-PAE{
		margin-left: 40%;
	}
	.iconos-talleres{
		margin-left: 37%;
	}
	.img-carousel-ins{
		margin-left: 50px;
	}
	/*-----HASTA AQUI PAGINA INICIO ----*/
	.cards-comunidad{
		margin-left: 45%;
	}
	/*-----HASTA AQUI PAGINA COMUNIDAD ----*/
	.ins-listas{
		margin-left: 25%;
		margin-top: 5%;
	}
}

@media screen and (min-width: 425px){
	.iconos-talleres{
		margin-left: 38%;
	}
	.img-para-inicio{
		height: 700px;
	}
	.img-carousel-ins{
		margin-left: 75px;
	}
	/*-----HASTA AQUI PAGINA INICIO ----*/
	.img-comunidad{
		height: 300px;
	}
	.cards-comunidad{
		margin-left: 50%;
		margin-bottom: 50px;
	}
	/*-----HASTA AQUI PAGINA COMUNIDAD ----*/

	.ico-requi-ins{
		margin-left: 45%;
	}
	.ins-listas{
		margin-left: 28%;
		margin-top: 5%;
	}
	.links-algomas{
		margin-left: 35%;
	}
}

@media screen and (min-width: 768px){
	.img-carousel-ins{
		margin-left: 0;
	}
	.img-carousel{
		height: 450px;
	}
	.img-contacto{
		height: 450px;
		width: 100%;
	}
	.boton1{
		margin-top: 30px;
		margin-bottom: 90px;
		width: 450px;
		height: 150px;
		line-height: 150px;
		font-size: 26px;
	}
	.img-para-inicio{
		height: 350px;
	}
	.iconos-EOC{
		margin-left: 36%;
	}
	.i-PAE{
		margin-left: 32%;
	}
	.iconos-talleres{
		margin-left: 20%;
	}
	/*-----HASTA AQUI PAGINA CONTACTO ----*/
	.img-comunidad{
		margin-top: 60px;
	}
	.cards-comunidad{
		margin-left: 60%;
	}
	/*-----HASTA AQUI PAGINA COMUNIDAD ----*/

	.ico-requi-ins{
		margin-left: 40%;
	}
	.links-algomas{
		margin-left: 43%;
	}
}

@media screen and (max-width: 800px){
	.redes-inicio{
		display: none;
	}

	img#logo{
		display: none;
	}

	.menu-responsivo{
	top: 0;
	position: fixed;
	display: block;
	width: 100%;
	background: #ccc;
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.63);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.63);
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.63);
	z-index: 1000;
	}

	#logo-responsivo{
	position: relative;
	width: 100px;
	height: auto;
	left: 20px;
	}

	button.hamburger{
	position: absolute;
	top: 20%;
	left: 80%;
	display: block;
	color: #ccc;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
	}

	  nav{
	  	top: 100px;
        width: 60%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
        background: #ccc;
        z-index: 1000;
    }

    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}

@media (min-width: 1024px){
	header nav ul li a{
		font-size: 18px;
	}
	img#logo{
		width: 250px;
		height: 250px;
	}
	nav{
		margin-left: 8px;
	}

	.img-carousel{
		height: 500px;
	}
	.img-para-inicio{
		height: 340px;
	}
	.iconos-EOC{
		margin-left: 41%;
	}
	.i-PAE{
		margin-left: 38%;
	}
	.iconos-talleres{
		margin-left: 30%;
	}
	.links-algomas{
		margin-left: 25%;
	}
	/*-----HASTA AQUI PAGINA INICIO ----*/
	.separador-contacto{
		display: block;
	}
	/* HASTA AQUI PAGINA CONTACTO*/
	.img-comunidad{
		height: 500px;
	}
	.cards-comunidad{
		margin-left: 0;
	}
	/* HASTA AQUI PAGINA COMUNIDAD*/

	.ico-requi-ins{
		margin-left: 43%;
	}
}
@media screen and (min-width: 1240px){
	nav{
		margin-left: 4%;
	}

	header nav ul li a{
		font-size: 20px;
	}

	img#logo{
		width: 300px;
		height: 300px;
	}

	.boton1{
		width: 650px;
		height: 200px;
		line-height: 210px;
		font-size: 35px;
	}
	.iconos-EOC{
		margin-left: 43%;
	}
	.i-PAE{
		margin-left: 40%;
	}
	.iconos-talleres{
		margin-left: 34%;
	}
}

@media screen and (min-width: 1440px){
	nav{
		margin-left: 6%;
	}
	header nav ul li a{
		font-size: 22px;
	}
	img#logo{
		width: 350px;
		height: 350px;
	}
	.ico-requi-ins{
		margin-left: 45%;
	}
}
